<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="flightForm" th:action="@{/menu/regist/{airlineNo}(airlineNo=${airlineNo})}" method="post">
        <label>비행 번호 : </label><input type="text" name="flightCode">
        <label>목적지 : </label><input type="text" name="destination">
        <label>비행 날짜 : </label><input type="date" name="flightDate">
        <label>출발 시간 : </label><input type="time" name="departTime">
        <label>도착 시간 : </label><input type="time" name="arrivalTime">
        <label>티켓 가격 : </label><input type="number" name="ticketPrice">
        <input type="submit" value="등록">
    </form>
</body>
</html>